﻿@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
*{
    font-family: 'Lato', sans-serif;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-bottom{
    position: fixed;
    bottom: 0px;
    min-width:100%;
}

.columns-container {
    min-width:100%;
    height:10px;
    display: -webkit-box;
}

.column {
    min-width:25%;
    height:15px;

}

.fill-color-1 {
    width: 100%;
    height: 100%;
    background-color: #ea8eb9;
    float: left;
}

.fill-color-2 {
    width: 100%;
    height: 100%;
    background-color: #4ac1b9;
    float: left;
}

.fill-color-3 {
    width: 100%;
    height: 100%;
    background-color: #ea5b6a;
    float: left;
}

.fill-color-4 {
    width: 100%;
    height: 100%;
    background-color: #fce05e;
    float: left;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo-home {
width:98px;
height:181px;
position:absolute;
left:50%;
margin-left:-49px;
}

.welcomeTitle{
    position: absolute;
    width: 100%;
    left:0px;
    text-align: center;
    top: 35%;
    color: #e8596b;
    font-weight: 700;
    font-size:72px;
}

.usersContainer{
    width:300px;
    position:absolute;
    left:50%;
    margin-left:-150px;
}

.usersCounter{
    position: absolute;
    width: 100%;
    top: 70%;
    text-align: center;
    left: 0;
}

.usersTxt{
font-size:30px;
color:black;
text-align:left;
position: absolute;
    left:140px;
    line-height: 28px;
    top:15px;
}

#loggedInUsersCount{
    position: absolute;
    background-color: #4ac1b9;
    color: white;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    display: flex;
    width: 40px;
    height: 40px;
    line-height: 0px;
    text-indent: -8px;
}

.simon-start-container {
    width: 100%;
}

.simon-start-game {
    border: 4px solid #ea5b6a;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
}

.simon-start-game > img {
    height:16px;
    margin:0px 0px 2px 2px;
}
.simon-start-game>span {
    font-weight:600;
    font-size:20px;
}

.logoHeader{
        position: absolute;
    top: 0px;
    left: 0px;
}
/* Loading indicator */
 .loadingSpin {
    position: absolute;
    width: 300px;    /* diameter */
    height: 300px;    /* diameter */
    left:45%;
    margin-left:-150px;
    top:50%;
    margin-top:250px;

}


.inner, .loadingSpin:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
/* Mask */
 .loadingSpin:after {
    content:" ";
    margin: 5%;    /* stroke width */
    border-radius: 100%;
    background: #fff;    /* container background */
}
/* Spinning gradients */
 .inner {
    animation-duration: 15s;    /* speed */
    -webkit-animation-duration: 15s;    /* speed */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.inner {
    animation-name: rotate-inner;
    -webkit-animation-name: rotate-inner;
}
/* Halfs */
.inner:before, .inner:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content:" ";
}
/* Left half */
.inner:before {
    left: 0;
    right: 50%;
    border-radius: 280px 0 0 280px;    /* diameter */
}
/* Right half */
.inner:after {
    left: 50%;
    right: 0;
    border-radius: 0 280px 280px 0;    /* diameter */
}
/* Half gradients */
.inner:before {
    background-image: -webkit-linear-gradient(top, #ea5b6a, #ea5b6a);
    background-image: -moz-linear-gradient(top, #ea5b6a, #ea5b6a);
    background-image: linear-gradient(to bottom, #ea5b6a, #ea5b6a);
}
.inner:after {
    background-image: -webkit-linear-gradient(top, #ffffff, #ea5b6a);
    background-image: -moz-linear-gradient(top, #ffffff, #ea5b6a);
    background-image: linear-gradient(to bottom, #ffffff, #ea5b6a);
}
/* Ball */
.ball{
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:#ea5b6a;
  position:absolute;
  left:50%;
  margin-left:-15px;
  margin-top:-7px;
  z-index:999;
}

.ballContainer{
  width:100%;
  height:100%;
  animation-name: rotate-inner;
    -webkit-animation-name: rotate-inner;
    position:absolute;
      animation-duration: 15s;    /* speed */
    -webkit-animation-duration: 15s;    /* speed */
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
      z-index:999;

}



/* Spinning animations */

@keyframes rotate-inner {
    0% {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate-inner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.segments-container {
    width: 100%;
}
.questionTitle{
    left:8%;
}
.question-text{
    font-size:38px;
    text-align:center;
    font-weight:300;
}
.question-time-left{
position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 33%;
    z-index: 9999;
    font-size: 56px;
    font-weight: 900;
    color: #ea5b6a;
    line-height: 55px;
}



.simon-users-left{
position: absolute;
top: 50%;
margin-top: -90px;
left: 55%;
background-color: #55C2BA;
width: 180px;
height: 180px;
border-radius: 50%;
padding: 20px;
text-align: center;
font-size: 34px;
font-weight: 600;
color: white;
line-height: 100px;
}

.participantsTxt{
    font-size: 18px;
    position: absolute;  
    top: 100px;
    line-height: 21px;
    text-align: center;
    width: 80%;
}

.scndsTxt{
    font-size:32px;
    font-weight:500;
    
}
.buttonsContainer{
    position: absolute;
    height: 50px;
    width: 180px;
    bottom: 50px;
    right: 0;
}
.button-simon-next{
    border: 4px solid #ea5b6a;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.button-simon-next > img {
    height:15px;
    margin:0px 0px 2px 2px;
}
.button-simon-stop{
    border: 4px solid #ea5b6a;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}
.button-simon-stop > img {
    height:15px;
    margin:0px 0px 2px 2px;
}
.simon-thanks{
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50%;
    margin-top: -200px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}
.thanks{
    font-size:70px;
    text-align:center;
    color:#ea5b6a;
    font-weight:700;
    margin-top:60px;
}
.playing{
    font-size:70px;
    text-align:center;
    color:black;
    font-weight:700;
        line-height: 10px;
}
.segment {
    height: 200px;
    width: 150px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.simon-game{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
}



.simonButtonsTop{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 0px;
    margin:0 auto;
}

.simonButtonsBottom{
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 999;
    padding: 0px;
    margin:0 auto;
}



.simonButtonsContainer{
    position: relative;
    width: 50%;
    float: left;
    padding: 0px;
    height:100%;
}

.question-container{
    position: absolute;
    width: 70%;
    background-color: white;
    z-index: 1000;
    height: 100px;
    top: 50%;
    margin-top: -50px;
    left: 15%;
    border-radius: 5px;
}

.simon-play-home{
    text-align: center;
    top: 30%;
    position: absolute;
    left: 15%;
    width: 70%;
}

.welcomePlay{
    font-size: 22px;
    margin-top: 50px;
}

.simon-yellow {
    width: 100%;
    height: 100%;
    background-color: #FFB03E;
}

.simon-red {
    width: 100%;
    height: 100%;
    background-color:#ea5b6a;
}

.simon-blue {
    width: 100%;
    height: 100%;
    background-color: #3DB3E2;
}

.simon-green {
    width: 100%;
    height: 100%;
    background-color: #55C2BA;
}

.simon-second-step {
    display: none;
}


.hidden {
    display: none;
}

.simon-result {
}


.dots {
    font-size: 40px;
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    top: 47%;
    line-height: 33px;
    font-weight:300;
}

    .dots span {
        font-size: 50px;
        -webkit-animation-name: blink;
        animation-name: blink;
        -webkit-animation-duration: 1.4s;
        animation-duration: 1.4s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

        .dots span:nth-child(2) {
            -webkit-animation-delay: .2s;
            animation-delay: .2s;
        }

        .dots span:nth-child(3) {
            -webkit-animation-delay: .4s;
            animation-delay: .4s;
        }

@-webkit-keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}
@media only screen and (max-width: 500px) {
    .ball{
width: 10px;
height: 10px;
border-radius: 50%;
background-color: #ea5b6a;
position: absolute;
left: 50%;
margin-left: -5px;
margin-top: -3px;
z-index: 999;
}

      .loadingSpin {
    position: absolute;
    width: 54px;    /* diameter */
    height: 54px;    /* diameter */
    left:50%;
    margin-left:-27px;
    top:40%;
    margin-top:-27px;
    z-index:9999;

}

      .question-text{
    font-size:14px;
}

      .question-time-left{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0%;
    z-index: 9999;
    font-size: 13px;
    font-weight: 900;
    color: #ea5b6a;
    line-height: 55px;

}


}