﻿
@{
    Layout = "~/Views/Shared/_DisplayLayout.cshtml";
}

<div class="simon-home">
    <div class="logo-container-home">
        <div class="logo-home">
            <img src="~/Images/logo.png" />
        </div>
        <h1 class="welcomeTitle">Welcome!</h1>
        <h1 class="dots">We are waiting for all the participants <span>.</span><span>.</span><span>.</span></h1>
    </div>


    <div class="simon-start-container">
        <div class="simon-start-game" onclick="startSimon()"><img src="~/Images/next.png" /></></div>
    </div>
    <div class="col-sm-12 usersCounter">
        <div class="usersContainer">
            <span id="loggedInUsersCount">0</span>
            <p class="usersTxt"> participants <br />already connected.</p>
        </div>
    </div>
</div>

<div class="simon-display hidden">
    <div class="row">
        <div class="col-sm-12">
            <div class="logoHeader">
                <img src="~/Images/logo_header.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 questionTitle">
            <div class="question-container">
                <h2 class="question-text"></h2>
                <br />
                <div class="loadingSpin">
                    <div class="inner"></div>
                    <div class="ballContainer">
                        <div class="ball"></div>
                    </div>
                    <div class="question-time-left"></div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 buttonsContainer">
            <div class="button-simon-next" onclick="nextClick()">
                <img src="~/Images/skip.png" />
            </div>
            <div class="button-simon-stop" onclick="stopSimon()">
                <img src="~/Images/stop.png" />
            </div>
        </div>
    </div>

    <div class="simon-users-left">
        <span id="usersPlaying"></span><span> of </span> <span id="totalUsers"></span> <p class="participantsTxt">participants responded</p>
    </div>



</div>


<div class="simon-thanks hidden">
    <img src="~/Images/logo.png" />
    <h3 class="thanks">Thanks</h3><h3 class="playing">for playing!</h3>
</div>