﻿
@{
    Layout = "~/Views/Shared/_PlayLayout.cshtml";
}

<div class="simon-play-home">
    <img src="~/Images/logo.png" />
    <p class="welcomePlay">Waiting for participants</p>
</div>

<div class="simon-game hidden">

    <div class="question-container">
        <h2 class="question-text"></h2>
    </div>
    <div class="loadingSpin">
        <div class="inner"></div>
        <div class="ballContainer">
            <div class="ball"></div>
        </div>
        <div class="question-time-left"></div>
    </div>
    <div class="row simonButtonsTop">
        <div class="col-sm-6 simonButtonsContainer">
            <div class="simon-yellow" onclick="segmentClick(1)"></div>
        </div>
        <div class="col-sm-6 simonButtonsContainer">
            <div class="simon-red" onclick="segmentClick(2)"></div>
        </div>
    </div>
    <div class="row simonButtonsBottom">
        <div class="col-sm-6 simonButtonsContainer">
            <div class="simon-blue" onclick="segmentClick(3)"></div>
        </div>
        <div class="col-sm-6 simonButtonsContainer">
            <div class="simon-green" onclick="segmentClick(4)"></div>
        </div>
    </div>

</div>

<div class="simon-game-paused hidden">
    <h1>You're right! Let's wait just for </h1> <span class="question-time-left"></span> <span> for the rest of the players to answer</span>
</div>

<div class="simon-result hidden">
    <span id="result"> YOU LOST HA HA!</span>
</div>

<div class="simon-game-ended hidden">
    GAME ENDED BY MODERATOR
</div>

<input type="hidden" id="currentQuestionId" />