﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WIAB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        @RenderBody()

    </div>

    <footer class="footer-bottom">
        <div class="columns-container">
            <div class="column"><div class="fill-color-1"></div></div>
            <div class="column"><div class="fill-color-2"></div></div>
            <div class="column"><div class="fill-color-3"></div></div>
            <div class="column"><div class="fill-color-4"></div></div>
        </div>
    </footer>

    <div class="loading" style="display:none"></div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
         var baseSiteURL = '';
        //  var baseSiteURL = '@Url.Content("~/")';
    </script>

    <script src="@Url.Content("~/Scripts/Simon.js")"></script>

</body>
</html>
